@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); 

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

body {
    display: flex;
    flex-flow: column wrap; /* flow es como direction+ wrap*/
    ;justify-content: space-around;

}

header {
    position: sticky;
    top: 0;
    z-index:10 ;
    
  
}

/*  start code header */
#nav-top {

}

#sub-nav1 {
    background: #1CD1B0;
    font-weight: 400;
    font-style: normal;
    padding: 15px;

}

#sub-nav2 {
    background: #00669F;
    height: 10vh;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    padding: 28px 28px 26px;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    

}

/*  end code hedder */

/*  code main */

#main-content { 
            
    width:100vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    border: red 10px dashed;
     /**/

}

#main-content article {
    width:30vw;
    height: 60vh;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;     
}

.card {
    
    display:flex;
    flex-direction: column;
    align-content: center;
    border-radius: 16px 16px 0px 0px;
    flex-grow: 0.3;
    
    
}
/*header cards*/
.batman {
    display:flex;
    width: 100%;
    height: 20vh;
    z-index:1;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/houseBatman.png');
          }

.motion {
    display:flex;
    width: 100%;
    height: 20vh;
    z-index:1;
    background-repeat: no-repeat ;
    background-size: cover;
    background-image: url('../img/motionColors.png');
} /*header de harley*/

.profile img {
    
    position:relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    object-fit:;
}

.profile i {
    
    color: rgba(204, 36, 36, 1);
    font-size: 25px;

}

.card section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    height:40vh;
}

.subBody h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 2%;
    margin-top:2rem; 

}

.subBody p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 6px 15px 0 17px;
}

.btn-card {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    background-color:
        rgba(0, 102, 159, 1);
    text-align:center;
    padding:5%;
    border-radius:5%;
}
/*  end code main */

footer{
    width: 100%;
    height: 10vh;
    background: #00669F;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    bottom:0%;
    position: relative;
    margin-top:5vh;
}

footer p{
 padding: 18px 18px 0 18px;
}

.github{width:7vw;
height:3vh;align-self:center;}


/*responsive celular*/ 
@media (max-width:500px) 

{ #main-content{ flex-wrap:wrap;
flex-direction: column; 
justify-content: space-around;
height:100%;

}

#main-content article{
display: flex;
justify-content: space-around;
width: 70vw;
height: 80vh;
margin: 10vh;
flex-grow:0.3;
flex-direction: column;
}

.batman,.motion{
    height:30vh;
    border-radius: 16px 16px 0px 0px;
   }
    


/*faltan ver espacio entre el header y el contenedor de las cartas*/        

}



/*responsive tablet*/

@media (min-width:600px) and (max-width:1000px)

{#main-content{ 
    flex-wrap:wrap;
    flex-direction:row; 
    justify-content: space-between;
    align-content:space-around;
    border:red dashed;
   
    
     }
    #main-content .card{
      /*  width: 300px;
        height: 193px;
        padding: 10px;
        margin: 10px 10px 400px; */
        display:flex;
        flex-grow:0.4;
        border:red dashed;
        
    }
        

}

