


*{font-family: 'Roboto', sans-serif;}

/*body no */





/*header*/
.barradenavegación{
    background-color:#222222;
    height:100px;
    display:flex;
    justify-content: space-between;
    border-color: #000000 3px;
    box-shadow:10px 0px 4px; /*sombra del borde*/
    }



.logomarca{ display:flex; 
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap:wrap; /*respetar el ancho de los elementos y que pueda continuar en caso de tener multiples lineas*/ 
    align-items: center;
    
}
.logohijo1{flex-grow:0.4 ; 

}

.logohijo2{ flex-grow:0,6;}

/*barra de navegacion superior*/
.menunavegacion{ display:flex;
flex-grow:0.2;
color:white;
justify-content:space-around;
align-items:center;

} 
/*contenedordelmain*/

.contenedorprincipal{display: flex;
    /*border:red dashed;*/
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    margin-top:15vh;
    
}

/*main*/

h2{color:red;text-align: center;}

#comprando{color:white; padding-left:15px; padding-right: 15px;}/*titulo de otro color*/


.principal{ display:flex;
    justify-content:space-between;
     width:1000px; /*importante fijar medidas del contenedor*/
    height:350px ;
    background-color: #E5E5E5;
    /*border: red dashed;*/
   
   

}

.partedelivery{ 
    flex-wrap:wrap;
    flex-grow:0.5;
    width: 490px;height:350px ;
 /* background-image:url('img/delivey.png') */
   
   
}

.textodelivery{ display:flex; /*h2 en linea*/
justify-content:center;
position:relative; /*sobre la imagen */
z-index:10;
bottom:350px;
    }
/*podio de pizzas*/

.partemaspedidas{flex-wrap:wrap;
    flex-grow:0.5;
    width: 490px;height:350px ;
    background-color:#FFFFFF;
    border-radius: 1%;
    }
/*contiene el top más la imagen los titulos quedan fuera*/
.toppizzas{display:flex;
    justify-content: space-between;
    font-size:18px;}

.decoraciontop{position:relative;
padding-right:74px;}

ol{position:relative;
    padding-left:51px;}
h3{padding-left:60px;font-size:22px;position:relative;top:15px;}
    
/*footer*/
.pie{display:flex;
justify-content: space-between;
flex-wrap: wrap;
background-color:#222222;
position:absolute; 
bottom:0px;
width:100%;
height:150px;
}

/*modificar menu del footer*/
.menufooter{color:white;
 line-height:160%;/*interlineado*/
 font-size:110%; /*no puedo aplicar space-around con align-items*/
}

.logofooter{display:flex;
justify-content:flex-end;
align-items: center;}

a{text-decoration:none; color: #FFFFFF;}




/*faltan algunas etiquetas y pasar la pizza a PNG ,anclas,  falta acortar el margen inferior de la seccion principal*/


