
/*header*/
.barradenavegación{background-color:#000000;
display:flex;
justify-content: space-between;
}



.logomarca{ display:flex; 
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap:wrap; /*respetar el ancho de los elementos*/ 
    align-items: center;
}
.logohijo1{flex-grow:0.4 ; 

}

.logohijo2{ flex-grow:0,6;}


.menunavegacion{ display:flex;
    flex-grow:0.5;
color:white;
justify-content:center;
align-items: center;} /*barra de navegacion*/

/*main*/

h2{color:red;}
#comprando{color:white;}/*titulo de otro color*/

.principal{ display:flex;
    justify-content:center;
    align-content:center;

}
.partedelivery{ flex-wrap:wrap;
    flex-grow:0.5;
}
.partemaspedidas{flex-wrap:wrap;
    flex-grow:0.5;}



