

$mainColor:red;
$secondColor:blue;
$sizeTitles:3rem;


.subtitulo{
color:$mainColor;
}
p{font-size:$sizeTitles;}

li{color:$secondColor;}

footer{font-size:$sizeTitles;}

main #imagen{width:7vw;height:15vh;}