*{font-family:Arial, Helvetica, sans-serif;
   background-color:#faf0e6 ;}

header{ background-image: url("../img/fondoimagen.jpg");
    background-position:center -50px;
    height: 250px;}
p {font-style:italic;}    