*{font-family:Arial, Helvetica, sans-serif;
  font-style:normal;
                   }



header{
   
   background-image: url("../img/fondoimagen.jpg");
   background-position:center -50px;
   ; 
   height: 250px;
}  

h1{ background-color:#009090;
     text-align-last:inherit;
     text-indent: 230px;
     margin-block-end:100px ;
    }
 
h2{margin-left: 234px ;
   background-color:
   #67b7b0;
   ;background-position: center;
   padding-left: 2%;                              }
 
h3{margin-left: 601px;}      
 ul{ margin-left: 274px;}

body{background-color: #faf0e6;}

footer{margin-left:235px;}
  

#imagen{image-orientation:0grad;
   width: 190x;; 
   height: 220px; 
   margin-left: 20px; 
   filter: sepia(20%);
   float:left;
             ;          }
             
 .centrar{ text-align: center; 

 }
 .logoredes{width: 20px;
    height: 20px ;}

 .negritacursiva{font-weight: bold;
                 font-style:italic;}   
 .negrita{font-weight: bold;}

 
